VITE_SUPABASE_URL=https://gkyavuymxwproceusmer.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdreWF2dXlteHdwcm9jZXVzbWVyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4NDg4NjksImV4cCI6MjA5MjQyNDg2OX0.HEJ2s_R3ARKf8v3lH2Uv2y5SMyBAAwY16v8QoTIP6pA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdreWF2dXlteHdwcm9jZXVzbWVyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3Njg0ODg2OSwiZXhwIjoyMDkyNDI0ODY5fQ.038rkBpCe_wJ0-x6AAVNDF6zcLY_lHsUyoFuE7zm1jU
