VITE_SUPABASE_URL=https://aujlbfgkwtoaxekwfgyt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1amxiZmdrd3RvYXhla3dmZ3l0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4NDQ3MTMsImV4cCI6MjA5NDQyMDcxM30.s44uel5t_RPt6cAjizxGXOeS0hkqfoYmyayCdKy4bMY
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1amxiZmdrd3RvYXhla3dmZ3l0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODg0NDcxMywiZXhwIjoyMDk0NDIwNzEzfQ.5p_UnbB5K59q7tNhz3QM4pHGDBBGR4pKSBMVJr5iW44
